
section{
    width: 100%;
    display: inline-block;
    background-color: #fff;
    margin-bottom: 3px;
}
.list{
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}

.icon_tou{
    float: left;
    width:  70px;
    height: 70px;
    margin-left: 7px;
}
section ul{
    width: 66%;
    display: inline-block;
    margin-left: 7px;
    margin-top: 10px;
    background: url(../images/icon_top.png) no-repeat right center;
    background-size: 13px 10px;
}
.list ul li h1{
    width: 100%;
    display: inline-block;
    text-align: left;
    font-size: 18px;
    font-weight: normal;
}
.list ul li span{
    font-size: 12px;
    text-align: left;
    color: #919191;
    display: inline-block;
    width: 100%;
    line-height: 30px;
}
.top_xl{
    width: 100%;
    line-height: 30px;
    display: inline-block;
	color: #aeaeae;
}
.top_xl div{
    width: 90%;
    display: inline-block;
}
.top_xl p{
    display: inline-block;
    width: 65%;
    text-align: left;
}
.xz{
    background-color: #ea545d;
	color:white;
}
.my_xiangxi{
    width: 100%;
    display: inline-block;
    line-height: 30px;
    padding: 5px 0;
}
.my_xiangxi div{
    width:88%;
    display: inline-block;
}
.my_xiangxi img{
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
}
.my_xiangxi p{
    text-align: left;
}
.my_shezhi{
    width: 100%;
    display: inline-block;
    line-height: 30px;
    padding: 5px 0;
}
.my_shezhi div{
    width:88%;
    display: inline-block;
    background: url(../images/icon_right.png) no-repeat right center;
    background-size: 10px 13px;
}
.my_shezhi img{
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
}
.my_shezhi p{
    text-align: left;
}
.my_shezhi1{
    width: 100%;
    display: inline-block;
    line-height: 30px;
    padding: 5px 0;
}
.my_shezhi1 div{
    width:88%;
    display: inline-block;
    background: url(../images/icon_right.png) no-repeat right center;
    background-size: 13px 10px;
}
.my_shezhi1 img{
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
}
.my_shezhi1 p{
    text-align: left;
}
.kh_bottom{
    width: 100%;
    line-height: 30px;
    display: inline-block;
    padding: 5px 0;
}
.kh_box{
    width:90%;
    display: inline-block;
    background-image: url(../images/icon_right.png);
    background-position: right center;
    background-repeat:no-repeat;
    background-size: 10px 13px
}
.kh_bottom img{
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 6px;
}
.kh_bottom p{
    float: left;
    line-height: 50px;
    width: 20%;
    text-align: center;
}
.kh_bottom span{
    width: 20%;
    line-height: 50px;
    text-align: center;
    float: left;
}
.kh_right{
    float: right;
    margin-right: 20px;
    width: 20px;
    height: 20px;
}
.kh_right img{
    width: 20px;
    height: 20px;
    margin: 17px 0 0 0;
}