section{
    width: 100%;
    display: inline-block;
    background-color: #fff;
    margin-bottom: 3px;
}
.list{
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}

.icon_tou{
    float: left;
    width:  70px;
    height: 70px;
    margin-left: 7px;
}
section ul{
    width: 66%;
    display: inline-block;
    margin-left: 7px;
    margin-top: 10px;
    background: url(../images/icon_top.png) no-repeat right center;
    background-size: 13px 10px;
}
.list ul li h1{
    width: 100%;
    display: inline-block;
    text-align: left;
    font-size: 18px;
    font-weight: normal;
}
.list ul li span{
    font-size: 12px;
    text-align: left;
    color: #919191;
    display: inline-block;
    width: 100%;
    line-height: 30px;
}
.top_xl{
    width: 100%;
    line-height: 30px;
    display: inline-block;
}
.top_xl div{
    width: 90%;
    display: inline-block;
}
.top_xl p{
    display: inline-block;
    width: 65%;
    text-align: left;
    color: #aeaeae;
}
.xuan_x{
    width: 100%;
    display: inline-block;
}
.xuan_x div{
    width: 25%;
    display: inline-block;
}
.xuan_x div input{
    width: 15px;
    height: 15px;
    float: left;
    background-color: #fff;
    margin-top: 5px;
}
.xuan_x .xz{
    color: #ea545d;
}
.xuan_x .xz span{
    border:1px solid #ea545d;
    background: url(../images/gou.png) no-repeat center;
    background-size: 10px 7px;
}
.xuan_x div span{
    width: 15px;
    height: 15px;
    float: left;
    border: 1px solid #919191;
    margin: 5px 5px 0 0;
    line-height: 30px;
}
.xuan_x div p{
    float: left;
    line-height: 25px;
    font-size: 14px;
}
.my_xiangxi{
    width: 100%;
    display: inline-block;
    line-height: 30px;
    padding: 5px 0;
}
.my_xiangxi div{
    width:88%;
    display: inline-block;
}
.my_xiangxi img{
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
}
.my_xiangxi p{
    text-align: left;
}
.my_shezhi{
    width: 100%;
    display: inline-block;
    line-height: 30px;
    padding: 5px 0;
}
.my_shezhi div{
    width:88%;
    display: inline-block;
    background: url(../images/icon_right.png) no-repeat right center;
    background-size: 10px 13px;
}
.my_shezhi img{
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
}
.my_shezhi p{
    text-align: left;
}
.my_shezhi1{
    width: 100%;
    display: inline-block;
    line-height: 30px;
    padding: 5px 0;
}
.my_shezhi1 div{
    width:88%;
    display: inline-block;
    background: url(../images/icon_top.png) no-repeat right center;
    background-size: 13px 10px;
}
.my_shezhi1 img{
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
}
.my_shezhi1 p{
    text-align: left;
}
footer{
    width: 50%;
    display: inline-block;
    background-color: #ea545d;
    line-height: 30px;
    border-radius: 5px;
    margin-top: 20px;
}
footer a{
    color: #fff;
    font-size: 14px;
}