
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-family: "微软雅黑";
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
    display:block;
}
ul,menu,nav{
    list-style:none;
}
a{
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color:#555;
    text-decoration:none;
  
}
body{
    background-color: #f8f8f5;
}

header{
    width: 100%;
    line-height: 40px;
    background-color:#ea545d;
	text-align:center;
}
header p{
    display: inline-block;
    font-size: 20px;
    color: #fff;
    margin-left: 15px;
}

header a{
    display: inline-block;
    float: right;
    margin: 5px 10px 0 0;
    height: 30px;
}